.azul{
    background-color: rgb(4, 101, 236);
    color: aliceblue;
    font-size: 1.6rem;
    border-radius: 5%;
    border-color: transparent;
    cursor: pointer;
}
.celeste{
    background-color: rgb(38, 217, 220);
    color: aliceblue;
    font-size: 1.6rem;
    border-radius: 5%;
    border-color: transparent;
    cursor: pointer;
    margin-left: 4px;
}
p{
    font-size: 40px;
    font-weight: bold;
}
.centrado {
    align-items: center;
    text-align: center;
}